* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#inicio {
    background-image: url(/img/img_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 855px;
}

#nosotros {
    background-image: url(/img/img_header_nostros.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 855px;
}

#carta {
    background-image: url(/img/img-header-carta.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 855px;
}

header img {
    margin-top: 20px;
    border-radius: 100%;
    width: 100%
}

header h1 {
    color: white;
    display: flex;
    align-items: flex-end;
    padding-top: 198px;
    font-size: 98px;
}

.todo {
    background-color: #efefef;
}

article img {
    width: 100%;
}

#platillos .container .row .col-lg-5{
    width: 492px;
    height: 262px;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#platillos .container .row .col-lg-5{
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: white;
}

#platillos .container .row .col-lg-5:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

#platillos .container .row .col-lg-5 div{
    padding: 20px 0px 0px 15px;
}

#platillos{
    padding: 96px 0px 214px;
}

.img-carta {
    width: 200px;
}

footer {
    background-color: #222222;
}

footer h1 {
    padding: 20px 0px 0px 60px;
    color: white;
}

footer h2{
    display: flex;
    justify-content: center;
    color: white;
}

footer ul{
    padding: 0px 50px 70px 0px;
}

footer ul li a {
    display: flex;
    justify-content: flex-end;
    color: white;
}

p {
    font-size: 40px;
}

.descripcion-carta {
    font-size: 16px;
}

h3 {
    text-align: center;
}

.subtitulos {
    padding: 140px;
}

.subtitulo-carta{
    padding: 197px 0px 100px;
}

.col-lg-7 h3 {
    padding: 50px;
}